{% extends "base.html" %}

{% block title %}Imagen{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/image.css') }}">
{% endblock %}

{% block content %}
    <div class="publication-container">
        <a href="{{ url_for('publication', id=foto.aviso_id) }}">Volver a la publicación</a>
        <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" class="post-image" width="800" height="600" alt="Gato">
    </div>
{% endblock %}

{% block scripts %}
    {# Este template no usa scripts #}
{% endblock %}