.Post {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 39px;
    font-weight: normal;
}

.post-date {
    color: #888;
    min-width: max-content;
    margin: 0;
}

.post-divider {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0.5em 0 0 0;
}

.post-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
    flex-shrink: 0;
    min-width: 0;
}

.post-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5em;
    margin-left: 1em;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 4.5em;
}

.post-info-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.post-image {
    width: 320px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.post-info-line {
    max-width: 100%;
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
}


