{% extends "base.html" %}

{% block title %}Nueva Publicación{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/form.css') }}">
{% endblock %}

{% block content %}
    <div class="publication-form">
        
        <div id="success-box" class="success-box" hidden>
            <h2 id="success-msg"></h2>
            <ul id="success-list" class="success-list"></ul>
        </div>

        <div id="confirm-box" class="confirm-box" hidden>
            <h2 id="confirm-msg"></h2>
            <ul id="confirm-list" class="confirm-list"></ul>
        </div>
        
        <form name="formulario" class="form-divider" method="post" enctype="multipart/form-data">
            <div class="form-left">
                
                <div id="val-box" {% if not errores %}hidden{% endif %}>
                    
                    <h2 id="val-msg">
                        {% if errores %}
                            Los siguientes campos son inválidos
                        {% endif %}
                    </h2>
                    <ul id="val-list">
                        {% if errores %}
                            {% for error in errores %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

                <h2>¿Dónde?</h2>
                
                <label for="region">Región:</label>
                <select id="region" name="region">
                    <option>Elige una región</option>
                </select>
                
                <label for="comuna">Comuna:</label>
                <select id="comuna" name="comuna">
                    <option>Elige una comuna</option>
                </select>
                
                <label for="sector">Sector:</label>
                <input type="text" id="sector" name="sector">

                <h2>Tus datos</h2>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">

                <label for="email">Correo:</label>
                <input type="email" id="email" name="email">

                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono">

                <h3>Redes Sociales</h3>

                <div class="checkbox-redes">
                    <div class="inline-element">
                        <input type="checkbox" id="whatsapp" name="whatsapp" value="whatsapp">
                        <label for="whatsapp"> Whatsapp</label>
                    </div>

                    <div class="inline-element">
                        <input type="checkbox" id="telegram" name="telegram" value="telegram">
                        <label for="telegram"> Telegram</label>
                    </div>

                    <div class="inline-element">
                        <input type="checkbox" id="twitter" name="twitter" value="twitter">
                        <label for="twitter"> X</label>
                    </div>

                    <div class="inline-element">
                        <input type="checkbox" id="instagram" name="instagram" value="instagram">
                        <label for="instagram"> Instagram</label>
                    </div>

                    <div class="inline-element">
                        <input type="checkbox" id="tiktok" name="tiktok" value="tiktok">
                        <label for="tiktok"> Tiktok</label>
                    </div>

                    <div class="inline-element">
                        <input type="checkbox" id="otra" name="otra" value="otra">
                        <label for="otra"> Otra</label>
                    </div>
                </div>

                <div class="input-redes">
                    <input type="text" id="whatsapp-input" name="whatsapp-input" placeholder="Whatsapp">
                    <input type="text" id="telegram-input" name="telegram-input" placeholder="Telegram"> 
                    <input type="text" id="twitter-input" name="twitter-input" placeholder="X"> 
                    <input type="text" id="instagram-input" name="instagram-input" placeholder="Instagram"> 
                    <input type="text" id="tiktok-input" name="tiktok-input" placeholder="Tiktok"> 
                    <input type="text" id="other-input" name="other-input" placeholder="Otra"> 
                </div>
                
            </div>

            <div class="form-right">
                <h2>Datos de la mascota</h2>
                
                <label for="tipo">Tipo:</label>
                <select id="tipo" name="tipo">
                    <option>Elige un tipo</option>
                    <option>Perro</option>
                    <option>Gato</option>
                </select>

                
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" min="1" step="1">
                
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" min="1" step="1">

                <label for="unidad">Unidad:</label>
                <select id="unidad" name="unidad">
                    <option>Meses</option>
                    <option>Años</option>
                </select>

                <label for="fecha">Fecha de entrega:</label>
                <input type="datetime-local" id="fecha" name="fecha">


                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" id="descripcion" rows="10" cols="50" placeholder="Ingresa una descripción (Opcional)"></textarea>

                <label for="fotos1">Fotos (Máximo 5):</label>
                <input type="file" id="fotos1" name="fotos" multiple>

            </div>

            <button id="submit-btn" type="button">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {# Scripts usados por este template #}
    <script src="{{ url_for('static', filename='scripts/region_comuna_id.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/populate_fields.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate.js') }}"></script>
{% endblock %}
