{% extends "base.html" %}

{% block title %}Página Principal{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/posts.css') }}">
{% endblock %}

{% block content %}
            <div class="posts-container">
                
                {% for aviso in avisos %}
                <div class="Post">
                    
                    <div class="post-header">
                        <h1 class="post-title">
                            <a href="{{ url_for('publication', id=aviso.id) }}">{{ aviso.nombre }}</a>
                        </h1>
                        <p class="post-date">Fecha de entrega: {{ aviso.fecha_entrega }}</p>
                    </div>
                    
                    <div class="post-divider">
                        <div class="post-left">
                            {% if aviso.fotos %}
                                <img src="{{ url_for('static', filename=aviso.fotos[0].ruta_archivo) }}" class="post-image" width="320" height="240" alt="{{ aviso.tipo }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/posts/default.jpg') }}" class="post-image" width="320" height="240" alt="{{ aviso.tipo }}">
                            {% endif %}
                        </div>

                        <div class="post-right">
                            <div class="post-info-container">
                                <div class="post-info-line">
                                    Edad: {{ aviso.edad }} {% if aviso.unidad_medida == 'a' %}Años{% else %}Meses{% endif %}
                                </div>
                                <div class="post-info-line">
                                    Cantidad: {{ aviso.cantidad }}
                                </div>
                                <div class="post-info-line">
                                    Comuna: {{ aviso.comuna.nombre }}
                                </div>
                                <div class="post-info-line">
                                    Sector: {{ aviso.sector }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                {% else %}
                    {# No hay avisos #}
                    <div class="no-posts">
                        <h2>No hay publicaciones disponibles</h2>
                    </div>
                {% endfor %}

            </div>
{% endblock %}

{% block scripts %}
    {# Este template no usa scripts #}
{% endblock %}