{% extends "base.html" %}

{% block title %}Publicación{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/publication.css') }}">
{% endblock %}

{% block content %}
    <div class="publication-container">
        <div class="publication-left">
            <h2>¿Dónde?</h2>
            <p>{{ aviso.comuna.region.nombre }}, Comuna de {{ aviso.comuna.nombre }}</p>
            {% if aviso.sector %}
                <p>Sector: {{ aviso.sector }}</p>
            {% endif %}

            <h2>Datos de contacto</h2>
            <p>Nombre: {{ aviso.nombre }}</p>
            <p>Correo: {{ aviso.email }}</p>
            {% if aviso.celular %}
                <p>Teléfono: {{ aviso.celular }}</p>
            {% endif %}

            <h2>Redes sociales</h2>
            {% for contacto in aviso.contactos %}
                <p>{{ contacto.nombre | capitalize }}: {{ contacto.identificador }}</p>

            {% else %}
                <p>No se indicó ninguna red social</p>
            {% endfor %}

        </div>
        <div class="publication-middle">
            <h2>Datos de la mascota</h2>

            <p>{{ aviso.cantidad }} {{ aviso.tipo | capitalize }}</p>
            <p>Edad: {{ aviso.edad }} {% if aviso.unidad_medida == 'a' %}Años{% else %}Meses{% endif %}</p>
            <p>Fecha y hora de entrega: {{ aviso.fecha_entrega.strftime('%d-%m-%Y a las %H:%M') }}</p>

            {% if aviso.descripcion %}
                <p>Descripción: {{ aviso.descripcion }}</p>
            {% endif %}

        </div>
        <div class="publication-right">
            {% for foto in aviso.fotos %}
            <a href="{{ url_for('image', foto_id=foto.id, aviso_id=aviso.id) }}">
                <img src="{{ url_for('static', filename=foto.ruta_archivo) }}" class="post-image" width="320" height="240" alt="{{ aviso.tipo }}">
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# Este template no usa scripts #}
{% endblock %}