{% extends "base.html" %}

{% block title %}Listado de Avisos{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/listing.css') }}">
{% endblock %}

{% block content %}
    <div class="list-container">
        <table>
            <thead>
                <tr data-href="/publication">
                    <th>Fecha Publicación</th>
                    <th>Fecha Entrega</th>
                    <th>Comuna</th>
                    <th>Sector</th>
                    <th>Cantidad/Tipo/Edad</th>
                    <th>Nombre/Contacto</th>
                    <th>Total fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for aviso in avisos %}
                    <tr data-href="{{ url_for('publication', id = aviso.id) }}">
                        <td>{{ aviso.fecha_ingreso.strftime('%d-%m-%Y') }}</td>
                        <td>{{ aviso.fecha_entrega.strftime('%d-%m-%Y') }}</td>
                        <td>{{ aviso.comuna.nombre }}</td>
                        <td>{{ aviso.sector }}</td>
                        <td>{{ aviso.cantidad }} {{ aviso.tipo | capitalize }} / {{ aviso.edad }} {% if aviso.unidad_medida == 'a' %}Años{% else %}Meses{% endif %}</td>
                        <td>{{ aviso.nombre }}</td>
                        <td>{{ aviso.fotos | length }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No hay avisos para mostrar.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# --- Controles de página --- #}
        <div class="control-paginas">
            {% if pagina > 1 %}
                <a href="{{ url_for('publication_list', pagina=pagina - 1) }}" class="btn">&laquo; Anterior</a>
            {% endif %}

            <span class="page-current">
                Página {{ pagina }} de {{ paginas_totales }}
            </span>

            {% if pagina < paginas_totales %}
                <a href="{{ url_for('publication_list', pagina=pagina + 1) }}" class="btn">Siguiente &raquo;</a>
            {% endif %}

        </div>
            
    </div>
{% endblock %}

{% block scripts %}
    {# Scripts usados por este template #}
    <script src="{{ url_for('static', filename='scripts/redirection.js') }}"></script>
{% endblock %}