{% extends "base.html" %}

{% block title %}Estadísticas{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/statistics.css') }}">
{% endblock %}

{% block content %}
    <div class="statistics-container">
        <img src="{{ url_for('static', filename='images/data/adopciones-dias.png') }}" alt="Publicaciones de adopción segun los dias">
        <img src="{{ url_for('static', filename='images/data/porcentaje-tipos.png') }}" alt="Porcentaje de publicaciones según el tipo de mascota">
        <img src="{{ url_for('static', filename='images/data/barras-perros-gatos.png') }}" alt="Número de publicaciones según mes y tipo">
    </div>
{% endblock %}

{% block scripts %}
    {# Este template no usa scripts #}
{% endblock %}