<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/index.css') }}">

    {% block style %}
    
    {% endblock %}

</head>

<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="/" class="navbar-logo"> Plataforma de Adopción </a>
            <a href="/form" class="navbar-logo"> Agregar publicación </a>
            <a href="/publications" class="navbar-logo">Listado</a>
            <a href="/statistics" class="navbar-logo">Estadísticas</a>
        </div>
        
        <div class="navbar-right">
            <div class="login-buttons">
                ¿Aún no tienes cuenta?
                <a href="/" class="btn btn-outline-success">Registrate</a>
            </div>
        </div>
    </div>
    
    <main>
        <div class="main-cols">
            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% block scripts %}

    {% endblock %}

</body>

</html>